h1 a, h2 a {
    color: #01C696;
}

.page-header {
    background-color: #000000;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #000000;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.hiddenRow {
    padding: 0 !important;
}

p.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 40em
}

.pagination {
    background-color: #000000;
}

.nav.pagination{
    margin-bottom: 15px;
}

body {
    background-color: #000000;
}

.page-link {
    color: #ffffff;
}

.nav-item .page-link {
    background-color: #343a40;
    border-color: #343a40;
}

.nav-item.active .page-link {
    background-color: #01C696;
    border-color: #01C696;
}

.card {
    background-color: #343a40;
}

body {
    color: #ffffff
}

.btn-primary {
    background-color: #01C696;
    border-color: #01C696;
}

.card.graph {
    margin-bottom: 10px;
}

.card-body.fixbigsize {
    min-height: 350px
}

.card-body.fixmidsize {
    min-height: 300px;
}

.card.prognose {
    margin-bottom: 10px;
    text-align: justify;
}

img {
    max-width: 100%;
}