{% extends 'shared/base.html' %}
{% load i18n %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="jumbotron">
            <h1 class="display-7">Events</h1>
            <p class="lead">{% trans 'The places where GET flows' %}</p>
            <p>{% trans 'Tickets are used at different events. A plane flight, a cabaret show, a festival. This page is displaying the different events for which <b class=getcolor>GET</b> is used and their statistics. However, it doesn’t show the name of the events. This is caused by the circumstance that the <b class=getcolor>GET</b> foundation isn’t publishing event names publicly (yet). Publishing event names on the blockchain, would spoil the announcements which is done by event organizer. With some dedication, you will be able to link an event name to the appropriate event.' %}
            </p>
            <div class="card-body fixmidsize">
                <canvas id="ChartWiringsDay"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="d-none d-sm-block">
                <div class="card">
                    <h6 class="card-header" role="tab" id="headingOne">
                        <a data-parent="#accordion" class="d-block">
                            <div class="row no-gutters align-items-center">
                                <div class="col-12">
                                    <h1 class="display-7">All events</h1>
                                    <p class="lead">{% trans 'Events with the most recent statechanges are on top.' %}</p>
                                </div>
                            </div>
                        </a>
                    </h6>
                </div>
                <div class="card">
                    <h6 class="card-header" role="tab" id="headingOne">
                        <a data-parent="#accordion" class="d-block">
                            <div class="row no-gutters align-items-center">
                                <div class="col-10">
                                    <p><b>{% trans 'Event Details' %}</b></p>
                                </div>
                                <div class="col-2">
                                    <p><b>{% trans 'Total Statechanges' %}</b></p>
                                </div>
                            </div>

                        </a>
                    </h6>
                </div>
            </div>

            {% for pageevent in pageevents%}
            <div class="card">
                <h8 class="card-header" role="tab" id="headingOne">
                    <a data-toggle="collapse" data-parent="#accordion" href="#batch{{ pageevent.hash }}"
                        aria-expanded="true" aria-controls="batch{{ pageevent.hash }}" class="d-block">
                        <div class="row no-gutters align-items-center">
                            <div class="col-1">
                                <p><i class="fa fa-calendar getcolor"></i></p>
                            </div>
                            <div class="col-9">
                                <p><b>{% trans 'Hash'%}:</b> {{ pageevent.hash }}</p>
                                <p><b>{% trans 'Creation date' %}:</b> {{ pageevent.block.date |date:"d-m-Y"}}</p>
                                <p><b>{% trans 'Last activity' %}:</b> {{ pageevent.lastupdate |date:"d-m-Y"}}</p>
                                <div class="d-sm-none">
                                    <p><b>{% trans 'Statechanges' %}:</b> {{ pageevent.totalsum }}</p>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="d-none d-sm-block">
                                    <p>{{ pageevent.totalsum }}</p>
                                </div>
                            </div>
                        </div>

                    </a>
                </h8>
            </div>
            <div id="batch{{ pageevent.hash }}" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <p>{% trans 'Tickets created' %}: <span class="getcolor">{{ pageevent.f0sum }}</span></p>
                            <p>{% trans 'Tickets blocked' %}: <span class="getcolor">{{ pageevent.f1sum }}</span></p>
                            <p>{% trans 'Tickets sold in the primary market' %}: <span class="getcolor">{{ pageevent.f2sum }}</span>
                            </p>
                            <p>{% trans 'Tickets sold in secondary market' %}: <span class="getcolor">{{ pageevent.f3sum }}</span>
                            </p>
                            <p>{% trans 'Tickets bought back' %}: <span class="getcolor">{{ pageevent.f4sum }}</span></p>
                            <p>{% trans 'Tickets cancelled' %}: <span class="getcolor">{{ pageevent.f5sum }}</span></p>
                            <p>{% trans 'Ticket put for sale' %}: <span class="getcolor">{{ pageevent.f6sum }}</span></p>
                        </div>
                        <div class="col">
                            <p>{% trans 'No Show' %}: <span class="getcolor">{{ pageevent.f7sum }}</span></p>
                            <p>{% trans 'Not resold' %}: <span class="getcolor">{{ pageevent.f8sum }}</span></p>
                            <p>{% trans 'Not sold in primary market' %}: <span class="getcolor">{{ pageevent.f9sum }}</span></p>
                            <p>{% trans 'Not sold in secondary market' %}: <span class="getcolor">{{ pageevent.f10sum }}</span>
                            </p>
                            <p>{% trans 'Tickets scanned' %}: <span class="getcolor">{{ pageevent.f11sum }}</span></p>
                            <p>{% trans 'Show over' %}: <span class="getcolor">{{ pageevent.f12sum }}</span></p>
                            <p>{% trans 'Tickets unblocked' %}: <span class="getcolor">{{ pageevent.f13sum }}</span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-primary btn-lg smalldevdetection"
                                href="{% url 'page_singleevent' eventhash=pageevent.hash %}" role="button">{% trans 'Show tickets of the event.' %}</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <ul class="nav nav-fill pagination">
            {% if pageevents.has_previous %}
            <li class="nav-item"><a class="page-link" href="?page=1">{% trans 'First' %}</a></li>
            <li class="nav-item"><a class="page-link" href="?page={{ pageevents.previous_page_number }}">{% trans 'Previous' %}</a>
            </li>
            {% endif %}
            {% for pagenr in pagenrs %}
            {% if pagenr == pageevents.number %}
            <li class="nav-item active"><a class="page-link" href="?page={{ pagenr }}">{{ pagenr }}</a>
            </li>
            {% endif %}
            {% if pagenr != pageevents.number %}
            <li class="nav-item"><a class="page-link" href="?page={{ pagenr }}">{{ pagenr }}</a></li>
            {% endif %}
            {% endfor %}
            {% if pageevents.has_next %}
            <li class="nav-item"><a class="page-link" href="?page={{ pageevents.next_page_number }}">{% trans 'Next' %}</a>
            </li>
            <li class="nav-item"><a class="page-link" href="?page={{ pageevents.paginator.num_pages }}">{% trans 'Last' %}</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card graph">
            <div class="card-body fixmidsize">
                <canvas id="EventSize30Days"></canvas>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card graph">
            <div class="card-body fixmidsize">
                <canvas id="ChartTicketsSoldPerMonth"></canvas>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block additionalscripts %}
{% include 'statechanges/eventgraph.html' %}
{% endblock %}