{% extends 'statechanges/base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col">
        <div class="jumbotron">
            <h1 class="display-7">StateChanges</h1>
            <p class="lead">The proof that GET is alive and kicking</p>
            <p>
                A ticket is going through different states. It’s created, unblocked, sold to an end user, maybe it’s
                resold to someone else, it’s scanned at the event etc. Each of those actions, called statechanges, are
                registered and is made public. This page is displaying the amount of statechanges which are registered.
                It shows the usage of GET and can help you to determine how much <b class=getcolor>GET</b> will be bough
                back from the market.
                <div class="card-body fixmidsize">
                    <canvas id="ChartStateChangesDay"></canvas>
                </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="d-none d-sm-block">
                    <div class="card">
                        <h6 class="card-header" role="tab" id="headingOne">
                            <a data-parent="#accordion" class="d-block">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-5">
                                        <p><b>Date</b></p>
                                    </div>
                                    <div class="col-4">
                                        <p><b>Blocknumber</b></p>
                                    </div>
                                    <div class="col-3">
                                        <p><b>Total Statechanges</b></p>
                                    </div>
                                </div>

                            </a>
                        </h6>
                    </div>
                </div>
                {% for pageblock in pageblocks %}
                <div class="card">
                    <h8 class="card-header" role="tab" id="headingOne">
                        <a data-toggle="collapse" data-parent="#accordion" href="#batch{{ pageblock.blocknumber }}"
                            aria-expanded="true" aria-controls="batch{{ pageblock.blocknumber }}" class="d-block">
                            <div class="row no-gutters align-items-center">
                                <div class="col-md-5">
                                    <div class="d-sm-none">
                                        <p><b>Date:</b> {{ pageblock.date |date:"d-m-Y H:i" }}</p>
                                    </div>
                                    <div class="d-none d-sm-block">
                                        <p>{{ pageblock.date |date:"d-m-Y H:i" }}</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="d-sm-none">
                                        <p><b>Blocknumber:</b> {{ pageblock.blocknumber }}</p>
                                    </div>
                                    <div class="d-none d-sm-block">
                                        <p>{{ pageblock.blocknumber }}</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="d-sm-none">
                                        <p><b>Total statechanges:</b> {{ pageblock.totalsum }}</p>
                                    </div>
                                    <div class="d-none d-sm-block">
                                        <p>{{ pageblock.totalsum }}</p>
                                    </div>
                                </div>
                            </div>

                        </a>
                    </h8>
                </div>
                <div id="batch{{ pageblock.blocknumber }}" class="collapse" role="tabpanel"
                    aria-labelledby="headingOne">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <p>Tickets created: <span class="getcolor">{{ pageblock.f0sum }}</span></p>
                                <p>Tickets blocked: <span class="getcolor">{{ pageblock.f1sum }}</span></p>
                                <p>Tickets sold in the primary market: <span
                                        class="getcolor">{{ pageblock.f2sum }}</span></p>
                                <p>Tickets sold in secondary market: <span class="getcolor">{{ pageblock.f3sum }}</span>
                                </p>
                                <p>Tickets bought back: <span class="getcolor">{{ pageblock.f4sum }}</span></p>
                                <p>Tickets cancelled: <span class="getcolor">{{ pageblock.f5sum }}</span></p>
                                <p>Ticket put for sale:<span class="getcolor">{{ pageblock.f6sum }}</span></p>
                                <p>No Show: <span class="getcolor">{{ pageblock.f7sum }}</span></p>

                            </div>
                            <div class="col">
                                <p>Not resold: <span class="getcolor">{{ pageblock.f8sum }}</span></p>
                                <p>Not sold in primary market: <span class="getcolor">{{ pageblock.f9sum }}</span></p>
                                <p>Not sold in secondary market: <span class="getcolor">{{ pageblock.f10sum }}</span>
                                </p>
                                <p>Tickets scanned: <span class="getcolor">{{ pageblock.f11sum }}</span></p>
                                <p>Show over: <span class="getcolor">{{ pageblock.f12sum }}</span></p>
                                <p>Tickets unblocked: <span class="getcolor">{{ pageblock.f13sum }}</span></p>
                                <p>Wirings: <span class="getcolor">{{ pageblock.wsum }}</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            <ul class="nav nav-fill pagination">
                <li class="nav-item"><a class="page-link" href="?page=1">First</a></li>
                {% if pageblocks.has_previous %}
                <li class="nav-item"><a class="page-link"
                        href="?page={{ pageblocks.previous_page_number }}">Previous</a>
                </li>
                {% endif %}
                {% for pagenr in pagenrs %}
                {% if pagenr == pageblocks.number %}
                <li class="nav-item active"><a class="page-link" href="?page={{ pagenr }}">{{ pagenr }}</a>
                </li>
                {% endif %}
                {% if pagenr != pageblocks.number %}
                <li class="nav-item"><a class="page-link" href="?page={{ pagenr }}">{{ pagenr }}</a></li>
                {% endif %}
                {% endfor %}
                {% if pageblocks.has_next %}
                <li class="nav-item"><a class="page-link" href="?page={{ pageblocks.next_page_number }}">Next</a>
                </li>
                <li class="nav-item"><a class="page-link" href="?page={{ pageblocks.paginator.num_pages }}">Last</a>
                </li>
                {% endif %}
            </ul>
    </div>
</div>
<div class="row">


    <div class="col-lg-6">
        <div class="card graph">
            <div class="card-body fixmidsize">
                <canvas id="ChartStateChangesMonth"></canvas>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card graph">
            <div class="card-body fixmidsize">
                <canvas id="ChartStateChangesQuarter"></canvas>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card graph">
            <div class="card-body fixmidsize">
                <canvas id="BurnStatistics"></canvas>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-7">
        <div class="card graph">
            <div class="card-body fixbigsize">
                <canvas id="StateChangeTypesLast30Days"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="card prognose">
            <div class="row no-gutters align-items-center">
                <div class="col-sm-4">
                    <img src="{% static 'images/deofex.png' %}" class="card-img-middle" alt="Deofex Avatar">
                </div>
                <div class="col-sm-8">
                    <div class="card-body">
                        <h5 class="card-title">A word</h5>
                        <p>Hi guys, I'm trying to maintain this site when possible When you have new idea's
                            for widgets, or want to see more data, please speak to me on Telegram.</p>
                        <p>All data on this site is dynamic and updated 5 minutes after each full hour.</p>
                        <p>Cheers, Deofex</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block additionalscripts %}
{% include 'statechanges/statechangegraph.html' %}
{% endblock %}