<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.min.js"></script>
<script>
    var ctx = document.getElementById('ChartStateChangesMonth').getContext('2d');
    Chart.defaults.global.defaultFontColor = '#ffffff';
    Chart.defaults.global.defaultFontFamily = '-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"';
    Chart.defaults.global.defaultFontSize = 16;
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [
                {% for info in monthgraphinfo %}
                '{{info.periodname}}'{% if not forloop.last %}, {% endif %}
    {% endfor %}
            ],
    datasets: [{
        label: 'State Changes per Month',
        backgroundColor: '#000000',
        borderColor: '#01C696',
        data: [
            {% for info in monthgraphinfo %}
                    '{{info.value}}'{% if not forloop.last %}, {% endif %}
    {% endfor %}
                ],
    pointBorderColor: '#01C696',
        pointBackgroundColor: '#ffffff',
            fontColor: '#ffffff',
            }]
        },

    // Configuration options go here
    options: {
        maintainAspectRatio: false,
            responsive: true,
                tooltips: {
            mode: 'index',
                intersect: false,
            },
        hover: {
            mode: 'nearest',
                intersect: true
        },
        scales: {
            xAxes: [{
                type: 'time',
                time: {
                    format: 'DD/MM/YYYY',
                    unit: 'month',
                    displayFormats: {
                        month: 'MMM-YYYY',
                    }
                },
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Month'
                }
            }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
        }
    }
    });
</script>

<script>
    var ctx = document.getElementById('ChartStateChangesQuarter').getContext('2d');
    Chart.defaults.global.defaultFontColor = '#ffffff';
    Chart.defaults.global.defaultFontFamily = '-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"';
    Chart.defaults.global.defaultFontSize = 16;
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [
                {% for info in quartergraphinfo %}
            '{{info.periodname}}'{% if not forloop.last %}, {% endif %}
    {% endfor %}
        ],
    datasets: [{
        label: 'State Changes per Quarter',
        backgroundColor: '#000000',
        borderColor: '#01C696',
        data: [
            {% for info in quartergraphinfo %}
                '{{info.value}}'{% if not forloop.last %}, {% endif %}
    {% endfor %}
            ],
    pointBorderColor: '#01C696',
        pointBackgroundColor: '#ffffff',
            fontColor: '#ffffff',
        }]
    },

    // Configuration options go here
    options: {
        maintainAspectRatio: false,
            responsive: true,
                tooltips: {
            mode: 'index',
                intersect: false,
        },
        hover: {
            mode: 'nearest',
                intersect: true
        },
        scales: {
            xAxes: [{
                type: 'time',
                time: {
                    format: 'DD/MM/YYYY',
                    unit: 'quarter'
                },
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Quarter'
                }
            }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
        }
    }
});
</script>

<script>
    var ctx = document.getElementById('ChartStateChangesDay').getContext('2d');
    Chart.defaults.global.defaultFontColor = '#ffffff';
    Chart.defaults.global.defaultFontFamily = '-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"';
    Chart.defaults.global.defaultFontSize = 16;
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [
                {% for info in daygraphinfo %}
                '{{info.periodname}}'{% if not forloop.last %}, {% endif %}
    {% endfor %}
            ],
    datasets: [{
        label: 'State Changes per day',
        backgroundColor: '#000000',
        borderColor: '#01C696',
        data: [
            {% for info in daygraphinfo %}
                    '{{info.value}}'{% if not forloop.last %}, {% endif %}
    {% endfor %}
                ],
    pointBorderColor: '#01C696',
        pointBackgroundColor: '#ffffff',
            fontColor: '#ffffff',
            }]
        },

    // Configuration options go here
    options: {
        maintainAspectRatio: false,
            responsive: true,
                tooltips: {
            mode: 'index',
                intersect: false,
            },
        hover: {
            mode: 'nearest',
                intersect: true
        },
        scales: {
            xAxes: [{
                type: 'time',
                time: {
                    format: 'DD/MM/YYYY',
                    unit: 'day'
                },
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Last 30 days',
                    padding: 1
                }
            }]
        }
    }
    });
</script>

<script>
    var ctx = document.getElementById('ChartWiringsDay').getContext('2d');
    Chart.defaults.global.defaultFontColor = '#ffffff';
    Chart.defaults.global.defaultFontFamily = '-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"';
    Chart.defaults.global.defaultFontSize = 16;
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [
                {% for info in wiringgraphinfo %}
                '{{info.periodname}}'{% if not forloop.last %}, {% endif %}
    {% endfor %}
            ],
    datasets: [{
        label: 'New petri-nets (new events)',
        backgroundColor: '#000000',
        borderColor: '#01C696',
        data: [
            {% for info in wiringgraphinfo %}
                    '{{info.value}}'{% if not forloop.last %}, {% endif %}
    {% endfor %}
                ],
    pointBorderColor: '#01C696',
        pointBackgroundColor: '#ffffff',
            fontColor: '#ffffff',
            }]
        },

    // Configuration options go here
    options: {
        maintainAspectRatio: false,
            responsive: true,
                tooltips: {
            mode: 'index',
                intersect: false,
            },
        hover: {
            mode: 'nearest',
                intersect: true
        },
        scales: {
            xAxes: [{
                type: 'time',
                time: {
                    format: 'DD/MM/YYYY',
                    unit: 'day'
                },
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Last 30 days',
                    padding: 1
                }
            }]
        }
    }
    });
</script>

<script>
    var ctx = document.getElementById('StateChangeTypesLast30Days').getContext('2d');
    Chart.defaults.global.defaultFontColor = '#ffffff';
    Chart.defaults.global.defaultFontFamily = '-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"';
    Chart.defaults.global.defaultFontSize = 16;
    var chart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: [
                {% for info in statechangetypeslast30day %}
            '{{info.periodname}}'{% if not forloop.last %}, {% endif %}
    {% endfor %}
        ],
    datasets: [{
        label: 'New petri-nets (new events)',
        backgroundColor: [
            '#01c696',
            '#00ad9b',
            '#009397',
            '#00798a',
            '#206074',
            '#2f4858',
            '#48d1cc'
        ],
        borderColor: '#01C696',
        data: [
            {% for info in statechangetypeslast30day %}
                '{{info.value}}'{% if not forloop.last %}, {% endif %}
    {% endfor %}
            ],
    pointBorderColor: '#01C696',
        pointBackgroundColor: '#ffffff',
            fontColor: '#ffffff',
        }]
    },

    // Configuration options go here
    options: {
        title: {
            display: true,
                text: 'Amount of ticket statechanges in the last 30 days per statechange type'
        },
        maintainAspectRatio: false,
            responsive: true,
                tooltips: {
            mode: 'index',
                intersect: false,
        },
        animation: {
            animateScale: true,
                animateRotate: true
        }
    }
});
</script>

<script>
    var ctx = document.getElementById('BurnStatistics').getContext('2d');
    Chart.defaults.global.defaultFontColor = '#ffffff';
    Chart.defaults.global.defaultFontFamily = '-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"';
    Chart.defaults.global.defaultFontSize = 16;
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [
                {% for info in burngraphinfo %}
            '{{info.periodname}}'{% if not forloop.last %}, {% endif %}
    {% endfor %}
            ],
    datasets: [{
        label: 'GET left',
        backgroundColor: '#000000',
        borderColor: '#01C696',
        data: [
            {% for info in burngraphinfo %}
                '{{info.value}}'{% if not forloop.last %}, {% endif %}
    {% endfor %}
                ],
    pointBorderColor: '#01C696',
        pointBackgroundColor: '#ffffff',
            fontColor: '#ffffff',
                yAxisID: 'y-axis-1',
            }, {
        label: '% of GET burnt',
            backgroundColor: '#000000',
                borderColor: '#009397',
                    data: [
                        {% for info in burngraphinfo %}
    '{{info.secondvalue}}'{% if not forloop.last %}, {% endif %}
    {% endfor %}
                ],
    pointBorderColor: '#009397',
        pointBackgroundColor: '#ffffff',
            fontColor: '#ffffff',
                yAxisID: 'y-axis-2',
            }]
        },

    // Configuration options go here
    options: {
        maintainAspectRatio: false,
            responsive: true,
                tooltips: {
            mode: 'index',
                intersect: false,
            },
        hover: {
            mode: 'nearest',
                intersect: true
        },
        scales: {
            xAxes: [{
                type: 'time',
                time: {
                    format: 'DD/MM/YYYY',
                    displayFormats: {
                        month: 'MMM-YYYY'
                    }
                },
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Date',
                    padding: 1
                },
                ticks: {
                    autoskip: true,
                    autoSkipPadding: 60
                }
            }],
                yAxes: [{
                    id: 'y-axis-1',
                    position: 'left',
                    ticks: {
                        beginAtZero: true
                    }
                }, {
                    id: 'y-axis-2',
                    position: 'right',
                    ticks: {
                        beginAtZero: true,
                        suggestedMax: 2
                    }
                }]
        },
        legend: {
            align: "middle"
        },
        ticks: {
            source: 'data'
        }
    }
    });
</script>